.fullwidthChildren .ant-space-item {
  width: 100%;
}

.pokemon-view .base,
.pokemon-view:hover .shiny {
  display: none;
}

.pokemon-view .shiny,
.pokemon-view:hover .base {
  display: block;
}

.guideline {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  opacity: 1 !important;
}